@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
	--primary-color: #141218;
}

* {
	font-family: 'Poppins';
}

#root {
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	@media screen and (max-width: 768px) {
		height: 100dvh;
	}

	&.isLoading {
		display: none;
		visibility: hidden;
		opacity: 0;
	}
}

.loading {
	width: 100vw;
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--primary-color);

	@media screen and (max-width: 768px) {
		height: 100dvh;
	}

	.loader {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		display: inline-block;
		border-top: 3px solid #fff;
		border-right: 3px solid transparent;
		box-sizing: border-box;
		animation: rotation 1s linear infinite;
	}

	@keyframes rotation {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

button {
	background-color: #2b2930;
	border: none;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;

	font-size: 0.75rem;
	font-weight: 600;

	cursor: pointer;

	transition: all;
	transition-duration: 300ms;

	color: #fff;

	&:hover {
		background-color: #938f994d;
	}
}

svg {
	stroke-linecap: round;
	stroke-linejoin: round;
}